
<%= form_with(model: agendamento, local: true) do |form| %>
  <% if agendamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agendamento.errors.count, "error") %> prohibited this agendamento from being saved:</h2>

      <ul>
        <% agendamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :usuario_id, "<b>Aluno</b>".html_safe %>
    <%= form.select(:usuario_id, options_for_select(Usuario.all.map { |usuario| [usuario.email, usuario.id] }),{},{ :class => 'form-control' } ) %>
  </div>

  <div class="form-group">
    <%= form.label :data_hora, "<b>Data e Hora</b>".html_safe %>
    <%= form.date_field :data_hora, class: "form-control " %>
  </div>

  <div class="form-group">
    <%= form.label :hora_duracao, "<b>Duração da Aula</b>".html_safe %>
    <%= form.time_field :hora_duracao, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tipo_curso_id, "<b>Tipo de Curso</b>".html_safe %>
    <%= form.select(:tipo_curso_id, options_for_select(TipoCurso.all.map { |tipo_curso| [tipo_curso.nome, tipo_curso.id] }),{},{:class => 'form-control'} ) %>
  </div>

  <div class="form-group">
    <%= form.label :observacao, "<b>Observação</b>".html_safe %>
    <%= form.text_area :observacao, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
