<div class="card">
<div class="card-header"><h1>Meus Agendamentos</h1></div>
<div class="card-body">
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <!--<th>Aluno</th>-->
      <th>Data hora</th>
      <th>Duração</th>
      <th>Tipo de Curso</th>
      <th>Sala</th>
      <th colspan="3">Operações</th>
    </tr>
  </thead>

  <tbody>
    <% @agendamentos.each do |agendamento| %>
      <tr>
        <!--<td><%= agendamento.usuario.email %></td>-->
        <td><%= agendamento.data_hora.strftime("%Y-%m-%d %H:00") unless agendamento.data_hora.nil? %></td>
        <td><%= agendamento.hora_duracao.strftime("%H:%M") unless agendamento.hora_duracao.nil? %></td>
        <td><%= agendamento.tipo_curso.nome %></td>
        <td><%= agendamento.sala.nome %></td>
        <td><%= link_to '<i class=\'fa fa-eye text-success\'></i>'.html_safe, agendamento %></td>
        <td><%= link_to '<i class=\'fa fa-edit text-warning\'></i>'.html_safe, edit_agendamento_path(agendamento) %></td>
        <td><%= link_to '<i class=\'fa fa-trash text-danger\'></i>'.html_safe, agendamento, method: :delete, data: { confirm: 'Tem certeza sobre a exclusão do agendamento?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="card-footer"><%= link_to 'Novo Agendamento', new_agendamento_path, class: "btn btn-primary" %></div>
</div>
