<%= form_with(model: tipo_curso, local: true) do |form| %>
  <% if tipo_curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_curso.errors.count, "error") %> prohibited this tipo_curso from being saved:</h2>

      <ul>
        <% tipo_curso.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :cor %>
    <%= form.text_field :cor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
