<%= form_with(model: contrato, local: true) do |form| %>
  <% if contrato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contrato.errors.count, "error") %> prohibited this contrato from being saved:</h2>

      <ul>
        <% contrato.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :usuario_id %>
    <%= form.select(:usuario_id, options_for_select(Usuario.all.map { |usuario| [usuario.email, usuario.id] }),{},{:class=>"form-control"} ) %>
  </div>

  <div class="form-group">
    <%= form.label :data_ini %>
    <%= form.date_field :data_ini, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :data_fim %>
    <%= form.date_field :data_fim, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :carga_horario_semanal %>
    <%= form.number_field :carga_horario_semanal, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :numero_matricula %>
    <%= form.text_field :numero_matricula, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :regular %>
    <%= form.check_box :regular %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
