<p id="notice"><%= notice %></p>

<h1>Contratos</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Data ini</th>
      <th>Data fim</th>
      <th>Carga horario semanal</th>
      <th>Numero matricula</th>
      <th>Regular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= contrato.usuario_id %></td>
        <td><%= contrato.data_ini %></td>
        <td><%= contrato.data_fim %></td>
        <td><%= contrato.carga_horario_semanal %></td>
        <td><%= contrato.numero_matricula %></td>
        <td><%= contrato.regular %></td>
        <td><%= link_to 'Show', contrato %></td>
        <td><%= link_to 'Edit', edit_contrato_path(contrato) %></td>
        <td><%= link_to 'Destroy', contrato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contrato', new_contrato_path %>
