<div class="card">
<div class="card-header"><h1>Contratos</h1></div>
<div class="card-body">
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Data inicial</th>
      <th>Data final</th>
      <th>Carga horária semanal</th>
      <th>Número matrícula</th>
      <th>Regular</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= contrato.usuario.email %></td>
        <td><%= contrato.data_ini %></td>
        <td><%= contrato.data_fim %></td>
        <td><%= contrato.carga_horario_semanal %></td>
        <td><%= contrato.numero_matricula %></td>
        <td><%= contrato.regular %></td>
        <td><%= link_to '<i class=\'fa fa-eye text-success\'></i>'.html_safe, contrato %></td>
        <td><%= link_to '<i class=\'fa fa-edit text-warning\'></i>'.html_safe, edit_contrato_path(contrato) %></td>
        <td><%= link_to '<i class=\'fa fa-trash text-danger\'></i>'.html_safe, contrato, method: :delete, data: { confirm: 'Tem certeza sobre a exclusão do contrato?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="card-footer">
  <%= link_to 'Novo Contrato', new_contrato_path, class: "btn btn-success"%>
<div>
</div>
