
<div class="card">
<div class="card-header"><h1>Salas</h1></div>
<div class="card-body">
<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Máximo de Alunos</th>
      <th colspan="3">Operações</th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.nome %></td>
        <td><%= sala.lotacao_max %></td>
        <td><%= link_to '<i class=\'fa fa-eye text-success\'></i>'.html_safe, sala %></td>
        <td><%= link_to '<i class=\'fa fa-edit text-warning\'></i>'.html_safe, edit_sala_path(sala) %></td>
        <td><%= link_to '<i class=\'fa fa-trash text-danger\'></i>'.html_safe, sala, method: :delete, data: { confirm: 'Tem certeza sobre a exclusão da sala?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="card-footer">
  <%= link_to 'Nova Sala', new_sala_path %>
</div>
</div>
